.hero {
  height: 822px;
  background-color: #e5e5e5;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.play-button {
  width: 113px;
  height: 113px;
  margin-top: 354px;
}
.hero-h1 {
  text-align: center;
  font-family: Poppins;
  font-size: 59.938px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 71.925px */
  margin-top: 74px;
}
.join {
  margin-top: 74px;
  display: flex;
  width: 443px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background: var(--dark, #333);
}
.join-text {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
  letter-spacing: 0.48px;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .hero {
    height: 100vw;
    width: 100vw;
  }
  .play-button {
    width: 70px;
    margin-top: calc(25vw);
  }
  .hero-h1 {
    width: 225px;
    font-size: 25px;
    font-weight: 500;
    margin-top: 15px;
  }
  .join {
    margin-top: 15px;
    display: flex;
    width: 221px;
    padding: 8px 16px;
  }
  .join-text {
    font-size: 16px;
    font-weight: 300;
  }
}
