.card {
  width: 348px;
  height: 361px;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
}

.image {
  width: 348px;
  height: 203px;
  background-color: #e5e5e5;
  stroke-width: 0.5px;
  stroke: rgba(0, 0, 0, 0.3);
}
.event-info {
  padding-top: 15px;
  padding-left: 32px;
  padding-right: 37px;
  padding-bottom: 20px;
}
.event-name {
  height: 18px;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 14.4px */
  margin-bottom: 9px;
}
.event-content {
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 13.6px */
  margin-top: 8px;
}
