.star-rating {
  width: 145px;
  height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.star {
  height: 25.33px;
}
.st0 {
  fill: #333333;
}
.st1 {
  fill: #d9d9d9;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .star-rating {
    width: 64px;
    height: auto;
  }
  .star {
    height: 12px;
  }
}
