.star-rating {
  width: 145px;
  height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.star {
  height: 25.33px;
}
.st0 {
  fill: #333333;
}
.st1 {
  fill: #d9d9d9;
}
